
* {
	font-size: 12px;
	line-height: 18px;
	font-family: Verdana;
	color: #333;
}

html, body {
	background: #f5f5f5;
}

body {
	padding: 25px 50px 25px 50px;
}

input {
	margin: 1px;
}

/*  */

.b-top {
	padding: 15px;
	background: #444;
	margin-bottom: 10px;
}

.b-top h1 {
	color: #99e;
	font-size: 20px;
}

.b-bottom {
	padding: 15px;
	background: #444;
	margin-top: 10px;
	color: #f5f5f5;
}

.b-container {
	overflow: hidden;
	background: #f0f0f0;
}

.b-menu {
	float: right;
	width: 200px;
	background: #ccc;
	padding: 15px;
}

.b-main {
	border-right: 230px solid #ccc;
	padding: 20px;
}

.b-main h1 {
	color: #3a4;
	font-size: 16px;
	margin: 2px 2px 2px 10px;
}
